@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;

.c-card-image {
  display: inline-flex;
  position: relative;
  border-radius: space(1);
  border: none;
  overflow: hidden;
  width: 100%;
  max-height: space(19);

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: space(2);
    box-sizing: border-box;
    background: linear-gradient(rgba(var(--color-background), 0.1) 50%, rgba(var(--color-background), 0.8));
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: rgba(var(--color-background), 0.8);
    }
  }
  
  &__title {
    @include body--l();
    color: rgba(var(--color-text), 1);
    margin: 0;
    text-transform: uppercase;
  }
  
  &__date {
    @include body--s();
    color: rgba(var(--color-text), 1);
    margin: 0;
  }
}
