@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/scrollbar.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.c-slider {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex: 1;
    min-height: 0;
    transition: transform .3s ease;

    ::slotted(*) {
      @include apple-scrollbar;

      flex: 1 0 100%;
      padding: space(1) space(2);
      box-sizing: border-box;
      max-height: 100%;
      overflow-y: auto;

      @media (min-width: $breakpoint-xl) {
        padding: space(1) space(6);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: space(2);
    gap: space(1);
  }

  &__arrow {
    --eIconColor: var(--color-text);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform .2s ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
    
    &--disabled {
      cursor: default;
      opacity: 0;

      @media (hover: hover) {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }

  &__action {
    padding: space(1);
    width: space(1.5);
    height: space(1.5);
    border-radius: 50%;
    background-color: rgba(var(--color-text), 0.5);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color .2s ease, transform .2s ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.5);
      }
    }

    &--active {
      background-color: rgba(var(--color-text), 1);
    }

  }
}
