@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: inline-block;
}

:host([size="full"]) {
  width: 100%;
}

.e-button {
  --eIconColor: var(--color-text);
  @include body--s(600);
  font-family: inherit;
  padding: space(2) space(3);
  border-radius: $border-radius-s;
  border: none;
  text-transform: uppercase;
  background-color: rgba(var(--eButtonColor, var(--color-primary)), 1);
  color: rgba(var(--color-text), 1);
  cursor: pointer;
  transition: box-shadow 0.1s ease, background-color 0.2s ease-in-out, transform 0.2s ease;

  &--secondary {
    --eIconColor: var(--color-text--light);
    background-color: rgba(var(--color-background--light), 1);
    color: rgba(var(--color-text--light), 1);
  }

  &--dark {
    --eIconColor: var(--color-text);
    background-color: rgba(var(--color-background--secondary), 1);
    color: rgba(var(--color-text), 1);
  }

  &:active {
    box-shadow: inset 0px 0px 15px 3px rgba(var(--color-background), 0.3);
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &--full {
    width: 100%;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &--thin {
    padding: space(0.5) space(3);
  }

  &:disabled {
    background: rgba(var(--color-primary), 0.67);
    cursor: not-allowed;

    &:active {
      box-shadow: none;
    }

    &:hover {
      transform: scale(1);
    }
  }

  ::slotted(img) {
    vertical-align: middle;
    margin-right: space(1);
  }
}
