@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.c-voucher-reader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: rgba(var(--color-text), 1);

  ::slotted([slot="title"]) {
    @include heading--h3(600);
    margin: 0;
  }

  ::slotted([slot="description"]) {
    @include body--s;
    margin: 0;
    color: rgba(var(--color-gray), 1);
  }

  &__input {
    display: block;
  }

  &__status {
    @include body--s;
    margin: 0;
    color: rgba(var(--color-gray), 1);

    &--success {
      color: rgba(var(--color-success), 1);
    }

    &--error {
      color: rgba(var(--color-error), 1);
    }
  }
}
