@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: inline-block;
}

.e-fetch {
  &__countdown {
    @include body--m;
    margin: 0;
  }

  &__link {
    @include body--m;
    font-family: inherit;
    color: rgba(var(--color-primary), 1);
    cursor: pointer;
    border: none;
    background: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link[disabled] {
    opacity: .6;
    cursor: not-allowed;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
