@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: inline-block;
}

.e-fetch {
  button {
    cursor: pointer;
  }

  button[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }
}
