@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: block;
  flex: 1;
  min-height: 0;
}

.c-globe {
  max-height: space(50);

  @media (min-width: $breakpoint-md) {
    max-height: space(60);
  }

  @media (min-width: $breakpoint-lg) {
    max-height: space(90);
  }

  @media (min-width: $breakpoint-xl) {
    max-height: 100%;
  }

  &__error {
    @include body--l;
    color: rgba(var(--color-text), 1);
  }

  .float-tooltip-kap {
    position: absolute;
    padding: space(1);
    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-background--secondary), 1);
    border-radius: $border-radius-l;
  }
}
