@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.c-globe {
  .float-tooltip-kap {
    position: absolute;
    padding: space(1);
    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-background--secondary), 1);
    border-radius: $border-radius-l;
  }
}
