@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.ti-home {
  padding: space(2) var(--grid-gutter) var(--ui-menu-height);

  @media (min-width: $breakpoint-xl) {
    padding: space(2) var(--grid-gutter);
  }

  &__header {
    display: grid;
    align-items: center;
    grid-template-areas:
      "user notification"
      "actions actions";
    grid-template-columns: 1fr auto;
    gap: space(1);

    @media (min-width: $breakpoint-md) {
      display: flex;
      align-items: center;
    }
  }

  &__user {
    grid-area: user;
    display: flex;
    align-items: center;
    gap: space(1);
  }

  &__link {
    --eIconColor: var(--color-text);
    display: inline-flex;
    @include body--s(600);
    font-family: inherit;
    text-decoration: none;
    padding: space(1);
    grid-area: notification;
    background-color: rgba(var(--color-background--secondary), 1);
    border-radius: $border-radius-s;
    transition: transform 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    @media (min-width: $breakpoint-md) {
      margin-left: auto;
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    align-items: center;
    gap: space(1);

    @media (min-width: $breakpoint-md) {
      justify-content: flex-end;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gutter);
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: space(2) 0;
    gap: space(2);
    width: 100%;
    box-sizing: border-box;
    
    @media (min-width: $breakpoint-md) {
      padding: 0;
    }

    @media (min-width: $breakpoint-lg) {
      gap: var(--grid-gutter);
    }
  }

  &__achievements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: space(1);
    padding: space(2) space(1);
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(var(--color-background--secondary), 1);
    border-radius: $border-radius-l;
    
    @media (min-width: $breakpoint-md) {
      display: flex;
      justify-items: center;
      justify-content: space-evenly;
      gap: var(--grid-gutter);
      padding: space(2);
    }
  }

  &__title {
    @include body--l;
    color: rgba(var(--color-text), 1);
    margin: 0 0 space(1);
  }

  &__box {
    background-color: rgba(var(--color-background--secondary), 1);
    border-radius: $border-radius-l;
    text-align: center;
    padding: space(1);
  }
}
