@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.ti-trip-list {
  padding: space(2) var(--grid-gutter) var(--ui-menu-height);
  gap: space(2);

  @media (min-width: $breakpoint-xl) {
    gap: var(--grid-gutter);
  }

  @media (min-width: $breakpoint-xl) {
    padding: space(2) var(--grid-gutter);
  }
}
