@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: block;
}

.c-card-poi {
  $block: &;
  display: flex;
  position: relative;
  width: 100%;
  padding: space(1) space(2) space(1) space(1);
  font-family: inherit;
  text-align: left;
  border: none;
  box-sizing: border-box;
  border-radius: $border-radius-l;
  color: rgba(var(--color-text), 1);
  background-color: rgba(var(--color-background--secondary), 1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &--active {
    --eIconColor: var(--color-text);
    background-color: rgba(var(--color-primary), 0.8);
  }

  &--removing {
    overflow: hidden;
    animation: slide-collapse 500ms ease forwards;
  }

  &__head {
    --eIconColor: var(--color-text);
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: space(8);
    height: space(8);
    margin: 0;
    border-radius: $border-radius-s;
    background-color: rgba(var(--color-background), 1);
    overflow: hidden;
    
    &--reminder {
      background-color: rgba(var(--color-primary), 1);
    }
  }
  
  ::slotted([slot="img"]) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 space(2);
    margin: 0;
    width: 100%;
  }
  
  ::slotted([slot="title"]) {
    @include body--l;
    margin: 0;
    width: 100%;
  }
  
  ::slotted([slot="description"]) {
    @include body--s;
    margin: 0;
    width: 100%;
  }

  &__end {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    text-align: right;
    margin: 0;
  }
  
  ::slotted([slot="date"]) {
    @include body--s();
    margin: 0;
  }

  &__actions {
    margin-top: auto;
  }

  ::slotted(a[slot="action"]) {
    display: inline-block;
    margin-right: space(1);
    text-decoration: none;
  }
}

@keyframes slide-collapse {
  0% {
    transform: translateX(0);
    opacity: 1;
    max-height: 200px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  60% {
    transform: translateX(-100%);
    opacity: 0;
    max-height: 200px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
    max-height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}