@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;
@use '@common/styles/utils/input-info.scss' as *;

.e-select {
  display: block;
  position: relative;

  &--hidden {
    position: absolute;
    top: -100%;
    opacity: 0;
  }

  &__label {
    @include body--m;
    color: rgba(var(--color-text), 1);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 space(0.5);
    cursor: pointer;
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    @include body--m;
    display: block;
    width: 100%;
    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-background), 1);
    border: 1px solid rgba(var(--color-gray--light), 1);
    padding: space(1) space(5) space(1) space(2);
    box-sizing: border-box;
    border-radius: $border-radius-s;
    appearance: none;
    cursor: pointer;

    &:has(+ e-icon) {
      padding-right: space(6);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: space(2);
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: space(2);
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: 0;
  }

  &__helpmsg {
    @include body--xs;
    margin: space(1) 0 0;
    color: rgba(var(--color-text), 1);
  }

  &__error {
    @include body--xs;
    margin: space(1) 0 0;
    color: rgba(var(--color-error), 1);
  }
}