@use './tools.scss' as *;
@use '../variables/breakpoints.scss' as *;

@mixin heading--h1($font-weight: 600) {
  font-weight: $font-weight;
  font-size: rem(40px);
  line-height: rem(48px);
  
  @media (min-width: $breakpoint-lg) {
    font-weight: $font-weight;
    font-size: rem(48px);
    line-height: rem(56px);
  }
}

@mixin heading--h2($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(32px);
  line-height: rem(40px);

  @media (min-width: $breakpoint-lg) {
    font-weight: $font-weight;
    font-size: rem(40px);
    line-height: rem(48px);
  }
}

@mixin heading--h3($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(24px);
  line-height: rem(32px);

  @media (min-width: $breakpoint-lg) {
    font-weight: $font-weight;
    font-size: rem(32px);
    line-height: rem(40px);
  }
}

@mixin body--l($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(18px);
  line-height: rem(28px);
}

@mixin body--m($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(16px);
  line-height: rem(26px);
}

@mixin body--s($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(14px);
  line-height: rem(24px);
}

@mixin body--xs($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(12px);
  line-height: rem(20px);
}

@mixin body--xxs($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(10px);
  line-height: rem(16px);
}
