@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.e-input-time {
  display: block;
  position: relative;

  &__label {
    @include body--m;
    color: rgba(var(--color-text), 1);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 space(0.5);
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    @include body--m;
    font-family: inherit;
    display: block;
    width: 100%;
    background-color: rgba(var(--color-gray--light), 1);
    padding: space(1) space(2);
    box-sizing: border-box;
    border: 0;
    border-radius: $border-radius-s;
  }

  &__helpmsg {
    @include body--xs;
    margin: space(1) 0 0;
    color: rgba(var(--color-text), 1);
  }

  &__error {
    @include body--xs;
    margin: space(1) 0 0;
    color: rgba(var(--color-error), 1);
  }
}