@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.e-ticket {
  background-color: rgba(var(--color-background--secondary), 1);
  border-radius: $border-radius-xl;
  box-sizing: border-box;
  padding: space(1) 0;

  @media (min-width: $breakpoint-md) {
    padding: space(3) 0;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: space(1);
    padding: 0 space(2);
    
    @media (min-width: $breakpoint-md) {
      margin-bottom: space(2);
      padding: 0 space(4);
    }
  }
  
  &__code {
    @include body--l;
    color: rgba(var(--color-primary), 1);
    margin: 0;
  }

  &__class {
    @include body--m;
    color: rgba(var(--color-primary), 1);
    background-color: rgba(var(--color-primary), 0.3);
    border: 1px solid rgba(var(--color-primary), 1);
    border-radius: $border-radius-xl;
    margin: 0;
    padding: space(1) space(2);
    box-sizing: border-box;
  }

  &__passenger {
    margin-bottom: space(2);
    padding: 0 space(2);
    
    @media (min-width: $breakpoint-md) {
      margin-bottom: space(4);
      padding: 0 space(4);
    }
  }

  &__name {
    @include heading--h3;
    color: rgba(var(--color-text), 1);
    margin: 0;

    @media (min-width: $breakpoint-md) {
      @include heading--h2;
    }
  }

  &__small {
    @include body--xs;
    color: rgba(var(--color-text), 1);
    margin: 0;

    @media (min-width: $breakpoint-md) {
      @include body--s;
    }
  }

  &__text {
    @include body--s;
    color: rgba(var(--color-text), 0.7);
    margin: 0 0 space(0.5);

    @media (min-width: $breakpoint-md) {
      @include body--m;
      margin: 0 0 space(2);
    }
  }

  &__big {
    @include heading--h3(600);
    color: rgba(var(--color-text), 1);
    margin: 0;

    @media (min-width: $breakpoint-md) {
      @include heading--h2(600);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: space(2);
    padding: 0 space(2);
    
    @media (min-width: $breakpoint-md) {
      gap: space(4);
      padding: 0 space(4);
    }
  }

  &__column {
    &--center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--right {
      text-align: right;
    }
  }

  &__box {
    background-color: rgba(var(--color-background--light), 0.1);
    border-radius: $border-radius-l;
    box-sizing: border-box;
    padding: space(1);
    text-align: center;

    @media (min-width: $breakpoint-md) {
      padding: space(2);
    }
  }

  &__qr {
    text-align: center;
    margin: space(2) 0;
    padding: 0 space(4);
  }

  &__separator {
    $height: 2px;
    position: relative;
    height: $height;
    background-image: linear-gradient(to right, rgba(var(--color-background--secondary), 1) 50%, rgba(var(--color-gray), 1) 0%);
    background-position: center;
    background-size: space(2) $height; /* 20px es la longitud del trazo + espacio */
    background-repeat: repeat-x;
    margin: space(2) 0;

    @media (min-width: $breakpoint-md) {
      margin: space(4) 0;
    }

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: space(4);
      width: space(4);
      background-color: rgba(var(--color-background), 1);
      border-radius: 50%;

      @media (min-width: $breakpoint-md) {
        height: space(6);
        width: space(6);
      }
    }
    
    &::after {
      left: 0;
      transform: translate(-50%, -50%);
    }
    
    &::before {
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  &__actions {
    padding: 0 space(2);
    text-align: center;

    @media (min-width: $breakpoint-md) {
      padding: 0 space(4);
    }
  }
}
