@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: block;
}

.c-card-transport {
  $block: &;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: space(2);
  position: relative;
  width: 100%;
  padding: space(1) space(2) space(1) space(1);
  font-family: inherit;
  text-align: left;
  border: none;
  border-radius: $border-radius-l;
  color: rgba(var(--color-text), 1);
  background-color: rgba(var(--color-background--secondary), 1);
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &--active {
    background-color: rgba(var(--color-primary), 0.8);
  }

  &__head {
    --eIconColor: var(--color-text);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: space(8);
    height: space(8);
    margin: 0;
    border-radius: $border-radius-s;
    background-color: rgba(var(--color-background), 1);
    overflow: hidden;
  }

  &__segment {
    @include body--m;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0;
    width: 100%;

    > span:first-child {
      text-align: right;
    }
  }

  &__duration {
    @include body--xxs;
    position: relative;
    top: -8px;
    padding: 0 space(2);
    margin: 0 space(1);
    border-bottom: 1px solid rgba(var(--color-text), 1);
  }

  &__end {
    margin-top: auto;
    margin-left: auto;
  }

  ::slotted(a[slot="action"]) {
    display: inline-block;
    margin-right: space(1);
    text-decoration: none;
  }
}
