@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.ti-achievements {
  padding: space(2) var(--grid-gutter) var(--ui-menu-height);

  @media (min-width: $breakpoint-xl) {
    padding: space(2) var(--grid-gutter);
    gap: space(6);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: space(0.5);

    @media (min-width: $breakpoint-md) {
      gap: space(2);
    }

    @media (min-width: $breakpoint-xl) {
      gap: space(4);
    }
  }

  &__outstanding {
    height: 100%;
    width: 100%;
    padding: space(2);
    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-background--secondary), 1);
    border-radius: $border-radius-l;
    box-shadow: 0px 0px 15px 3px rgba(var(--color-black), 0.1);

    &__title {
      @include body--l;
      margin: 0 0 space(1);
      color: rgba(var(--color-text), 0.6);
    }

    &__text {
      @include heading--h3;
      margin: 0;
      color: rgba(var(--color-text), 1);
    }
  }

  &__title {
    @include heading--h3;
    margin: 0 0 space(1);
    color: rgba(var(--color-text), 1);
  }

  &__subtitle {
    @include body--l;
    margin: 0 0 space(1);
    color: rgba(var(--color-text), 1);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: space(2);
  }
}

.ti-achievement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: space(4) space(2) space(2);
  border-radius: $border-radius-l;
  background-color: rgba(var(--color-background--secondary), 1);
  box-shadow: 0px 0px 15px 3px rgba(var(--color-black), 0.1);
  transition: transform 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
  
  &--unactive {
    background-color: rgba(var(--color-black), 1);
    opacity: 0.3;
    cursor: default;

    @media (hover: hover) {
      &:hover {
        transform: scale(1);
      }
    }
  }

  &__head {
    position: relative;
  }

  &__verified {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(var(--color-background--secondary), 1);
  }

  &__icon {
    --eIconColor: var(--color-text);
    padding: space(2);
    border-radius: 50%;
    border: 4px solid rgba(var(--color-brown), 1);

    &--old-rose {
      border-color: rgba(var(--color-old-rose), 1);
    }

    &--muted-raspberry {
      border-color: rgba(var(--color-muted-raspberry), 1);
    }

    &--mauve {
      border-color: rgba(var(--color-mauve), 1);
    }

    &--orchid {
      border-color: rgba(var(--color-orchid), 1);
    }

    &--alpine-green {
      border-color: rgba(var(--color-alpine-green), 1);
    }

    &--ocean-blue {
      border-color: rgba(var(--color-ocean-blue), 1);
    }

    &--lava-red {
      border-color: rgba(var(--color-lava-red), 1);
    }

    &--trail-green {
      border-color: rgba(var(--color-trail-green), 1);
    }

    &--jungle-green {
      border-color: rgba(var(--color-jungle-green), 1);
    }

    &--sand {
      border-color: rgba(var(--color-sand), 1);
    }

    &--lavender {
      border-color: rgba(var(--color-lavender), 1);
    }

    &--stone-violet {
      border-color: rgba(var(--color-stone-violet), 1);
    }

    &--lilac {
      border-color: rgba(var(--color-lilac), 1);
    }

    &--plum {
      border-color: rgba(var(--color-plum), 1);
    }

    &--sky-blue {
      border-color: rgba(var(--color-sky-blue), 1);
    }

    &--steel-blue {
      border-color: rgba(var(--color-steel-blue), 1);
    }

    &--light-navy {
      border-color: rgba(var(--color-light-navy), 1);
    }

    &--soft-indigo {
      border-color: rgba(var(--color-soft-indigo), 1);
    }

    &--petrol-blue {
      border-color: rgba(var(--color-petrol-blue), 1);
    }

    &--teal {
      border-color: rgba(var(--color-teal), 1);
    }

    &--night-purple {
      border-color: rgba(var(--color-night-purple), 1);
    }

    &--turquoise {
      border-color: rgba(var(--color-turquoise), 1);
    }

    &--old-gold {
      border-color: rgba(var(--color-old-gold), 1);
    }

    &--golden-olive {
      border-color: rgba(var(--color-golden-olive), 1);
    }

    &--terracotta {
      border-color: rgba(var(--color-terracotta), 1);
    }

    &--caramel {
      border-color: rgba(var(--color-caramel), 1);
    }

    &--soft-mustard {
      border-color: rgba(var(--color-soft-mustard), 1);
    }

    &--light-burgundy {
      border-color: rgba(var(--color-light-burgundy), 1);
    }

    &--amber {
      border-color: rgba(var(--color-amber), 1);
    }

    &--aquamarine {
      border-color: rgba(var(--color-aquamarine), 1);
    }

    &--mint {
      border-color: rgba(var(--color-mint), 1);
    }

    &--muted-lime {
      border-color: rgba(var(--color-muted-lime), 1);
    }

    &--sage-green {
      border-color: rgba(var(--color-sage-green), 1);
    }

    &--bronze {
      border-color: rgba(var(--color-bronze), 1);
    }

    &--silver {
      border-color: rgba(var(--color-silver), 1);
    }

    &--gold {
      border-color: rgba(var(--color-gold), 1);
    }
  }

  &__title {
    @include body--m;
    margin: 0;
    color: rgba(var(--color-text), 1);
    text-align: center;
  }

  &__text {
    @include body--s;
    margin: space(1) 0;
    color: rgba(var(--color-text), 0.7);
    text-align: center;
  }

  &__progress-bar {
    width: 100%;
    margin-top: auto;
  }

  &__share {
    margin-top: space(2);
  }

}
