body {
  // Principal
  --color-primary: 252, 110, 32; // Orange

  // Dark Theme
  --color-text: 255, 255, 255;
  --color-background: 34, 34, 34; // black
  --color-background--secondary: 50, 50, 50; // black secondary
  --color-gray: 234, 234, 234;

  // Light Theme
  --color-text--light: 34, 34, 34;
  --color-background--light: 255, 255, 255; // white
  --color-background--secondary--light: 245, 245, 245; // white secondary
  --color-gray--light: 100, 100, 100;

  // Spacing
  --grid-px: 8px;
  --grid-margin: 16px;

  // Typography
  --font-base: 16px;
}