@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: block;
}

:host([fullheight="auto"]) {
  height: 100%;
}

.c-map {
  $block: &;
  display: flex;
  width: 100%;
  position: relative;

  &--height-auto {
    height: 100%;
  }

  &__iframe {
    border: 0;
  }

  &__viewport {
    width: 100%;
    overflow: hidden;

    @media (min-width: $breakpoint-xl) {
      border-radius: $border-radius-xl;
    }

    #{$block}--height-auto & {
      height: 100%;
    }
  }

  &__canvas {
    background-color: rgba(var(--color-background--secondary), 1);
  }

  &__search {
    position: absolute;
    top: space(2);
    left: space(2);
    width: 50%;
    border-radius: $border-radius-m;
    box-shadow: 0px 0px 5px 0px rgba(var(--color-background), 0.6);
  }
}
