@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;
@use '@common/styles/utils/input-info.scss' as *;

.e-input {
  $root: &;
  display: block;
  position: relative;

  &--hidden {
    position: absolute;
    top: -100%;
    opacity: 0;
  }

  &__label {
    @include body--m;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 space(0.5);
    color: rgba(var(--color-text), 1);
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    @include body--m;
    display: block;
    width: 100%;
    padding: space(1) space(5) space(1) space(2);
    box-sizing: border-box;
    color: rgba(var(--color-text), 1);
    background-color: rgba(var(--color-background), 1);
    border: 1px solid rgba(var(--color-gray--light), 1);
    border-radius: $border-radius-s;

    &:has(+ e-icon) {
      padding-left: space(6);
    }

    &:has(+ button) {
      padding-right: space(8);
    }
  }

  &__clear,
  &__show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: 0;
    transition: transform .2s ease;

    &:hover {
      transform: scale(1.1) translateY(-50%);
    }
  }

  &__show-password {
    right: space(2);

    &:has(+ #{$root}__clear) {
      right: space(6);
    }
  }

  &__clear {
    right: space(2);
  }

  &__error {
    @include body--xs;
    margin: space(1) 0 0;
    color: rgba(var(--color-error), 1);
  }
}