@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.c-poi-resume {
  display: flex;
  flex-wrap: wrap;
  gap: space(2);
  position: absolute;
  bottom: space(2);
  right: space(2);
  left: space(2);
  border-radius: $border-radius-m;
  box-sizing: border-box;
  background-color: rgba(var(--color-background--secondary), 1);
  padding: space(2);

  &__head {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  &__img {
    border-radius: $border-radius-m;
  }

  &__details {
    flex: 1;
    display: flex;
    gap: space(2);
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    
    &:last-child {
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
    }
  }

  &__text {
    @include body--m;
    line-height: 1;
    color: rgba(var(--color-text), 1);
    margin: 0;
  }
  
  &__subtext {
    @include body--s;
    line-height: 1;
    color: rgba(var(--color-text), 0.7);
    margin: 0;
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
  }
}
