@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.c-poi-resume {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: absolute;
  bottom: var(--grid-gutter);
  right: var(--grid-gutter);
  left: var(--grid-gutter);
  gap: space(1);

  @media (min-width: $breakpoint-xl) {
    bottom: calc(var(--grid-gutter) * 0.5);
    right: inherit;
    left: 50%;
    transform: translateX(-50%);
    gap: space(2);
    max-width: space(80);
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    gap: space(1);
    border-radius: $border-radius-m;
    box-sizing: border-box;
    background-color: rgba(var(--color-background--secondary), 1);
    padding: space(1);
    box-shadow: 0px 0px 15px 3px rgba(var(--color-background), 0.3);
    
    @media (min-width: $breakpoint-xl) {
      gap: space(2);
      padding: space(2);
    }
  }

  &__close {
    height: space(4);
    width: space(4);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-background--secondary), 1);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 15px 3px rgba(var(--color-background), 0.3);
    transition: transform 0.2s ease;

    @media (min-width: $breakpoint-md) {
      height: space(5);
      width: space(5);
    }

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__head {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: space(7);
    height: space(7);

    @media (min-width: $breakpoint-md) {
      width: space(8);
      height: space(8);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-m;
  }

  &__details {
    flex: 1;
    display: flex;
    gap: space(2);
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    
    &:last-child {
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
    }
  }

  &__icon {
    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  &__text {
    @include body--s;
    line-height: 1;
    color: rgba(var(--color-text), 1);
    margin: 0;
    
    @media (min-width: $breakpoint-xl) {
      @include body--m;
      line-height: 1;
    }

    &-button {
      display: none;

      @media (min-width: $breakpoint-md) {
        display: inline;
      }
    }
  }
  
  &__subtext {
    @include body--xs;
    line-height: 1;
    color: rgba(var(--color-text), 0.7);
    margin: 0;
    
    @media (min-width: $breakpoint-xl) {
      @include body--s;
      line-height: 1;
    }
  }
}
