@use '@common/styles/tools/tools.scss' as *;

.ti-grid {
  $num-columns: 12;
  display: grid;
  grid-template-columns: repeat($num-columns, 1fr);
  box-sizing: border-box;
  margin-top: space(10);

  &__column {
    padding: 0 space(4);
    border-top: 1px solid rgba(var(--color-gray), 1);
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: 1px solid rgba(var(--color-gray), 1);
    }

    @for $i from 1 through $num-columns {
      &--#{$i} {
        grid-column: span $i;
      }
    }
  }
}