@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host([type="delete"]) {
  --eButtonColor: var(--color-error);
}

.c-form {
  $root: &;
  display: block;

  &__section {
    border: none;
    padding: 0;
    margin: 0 0 space(4);
  }

  &__subsection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: space(2);
    margin-top: space(4);
    margin-bottom: space(4);
  }

  &__repeater {
    grid-column: span 2;
    text-align: right;

    &__block {
      position: relative;
      margin-bottom: space(2);
      padding: space(1) space(4) space(2);
      border: 1px solid rgba(var(--color-text), 1);
      border-radius: $border-radius-m;
    }

    &__actions {
      position: absolute;
      top: space(1);
      right: space(4);
      display: flex;
      justify-content: flex-end;
      gap: space(2);
      z-index: 1;
    }

    &__action {
      --eIconColor: var(--color-text);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: space(3);
      height: space(3);
      background-color: rgba(var(--color-primary), 1);
      border: 0;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      transition: transform .2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
    
    &__fields {
      gap: space(2);

      &--inline {
        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;
      }

      &--stacked {
        display: block;
        flex: 1 0 auto;
      }
    }
  }

  &__resume {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: space(1);
    margin-bottom: space(1);
    padding: space(1) space(2);
    border: 1px solid rgba(var(--color-text), 1);
    border-radius: $border-radius-m;
    box-sizing: border-box;

    &__actions {
      margin-left: auto;
      display: flex;
      gap: space(1);
    }

    &__action {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: transform .2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    @include body--xl;
    color: rgba(var(--color-text), 1);
    grid-column: span 2;
    margin: 0;
    text-align: left;

    &:not(:has(+ #{$root}__helpmsg)) {
      margin-bottom: space(2);
    }

    &--center {
      text-align: center;
    }

    & + #{$root}__subsection {
      margin-top: 0;
    }
  }

  &__subtitle {
    @include body--l;
    text-align: left;
    color: rgba(var(--color-text), 1);
    margin: 0;
    
    &:not(:has(+ #{$root}__helpmsg)) {
      margin-bottom: space(4);
    }

    #{$root}__subsection & {
      margin-bottom: 0;
    }
  }

  &__text {
    @include body--m;
    text-align: left;
    color: rgba(var(--color-text), 1);
    margin: 0;
  }

  &__helpmsg {
    @include body--s;
    text-align: left;
    color: rgba(var(--color-text), 1);
    margin: 0 0 space(4);
  }

  &__field {
    grid-column: span 2;

    @media (min-width: $breakpoint-lg) {
      grid-column: span 1;
    }

    &--full {
      grid-column: span 2;
      flex: 1 0 auto;
    }
  }

  &__empty {
    @include body--m;
    color: rgba(var(--color-text), 1);
    text-align: center;
    padding: space(4);
    margin: 0;
    border: dashed 1px rgba(var(--color-text), 1);
    border-radius: $border-radius-l;
  }

  &__add {
    @include body--m;
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    margin-top: space(2);
    gap: space(0.5);
    color: rgba(var(--color-primary), 1);
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;

    e-icon {
      transition: transform .2s ease;
    }

    &:hover e-icon {
      transform: scale(1.2);
    }
  }
}
