@use './breakpoints.scss' as *;

body {
  // Breakpoints
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};

  // Typography
  --font-base: 16px;

  // Grid
  --grid-gutter: 8px;

  --grid-columns: 4;

  @media (min-width: $breakpoint-md) {
    --grid-columns: 12;
  }

  @media (min-width: $breakpoint-md) {
    --grid-gutter: 16px;
  }

  @media (min-width: $breakpoint-lg) {
    --grid-gutter: 24px;
  }

  @media (min-width: $breakpoint-xl) {
    --grid-gutter: 32px;
  }
  
  // Menu
  --ui-menu-height: 88px;

  @media (min-width: $breakpoint-md) {
    --ui-menu-height: 104px;
  }
  
  @media (min-width: $breakpoint-xl) {
    --ui-menu-height: 0;
  }
  
  // C-Header
  --ui-c-header-basic-height: 80px;
  
  @media (min-width: $breakpoint-xl) {
    --ui-c-header-basic-height: 88px;
  }

  --ui-c-header-image-height: 120px;

  @media (min-width: $breakpoint-xl) {
    --ui-c-header-image-height: 144px;
  }

  @media (min-width: $breakpoint-xl) and (min-height: 1000px) {
    --ui-c-header-image-height: 200px;
  }
}