@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.c-poi-detail {
  position: absolute;
  inset: 0;
  height: 0;
  box-sizing: border-box;
  background-color: rgba(var(--color-background--secondary), 1);
  overflow: hidden;
  z-index: 10;
  
  @media (min-width: $breakpoint-md) {
    inset: var(--grid-gutter) var(--grid-gutter) 0 calc(var(--grid-gutter) / 2);
    border-radius: ($border-radius-xl - 1px);
    z-index: inherit;
  }

  &--active {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &--transport {
    background-color: rgba(var(--color-background), 1);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: space(1) space(1);

    @media (min-width: $breakpoint-md) {
      padding: space(1) space(2);
    }

  }

  &__close {
    width: space(4);
    height: space(4);
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform .2s ease;

    @media (min-width: $breakpoint-md) {
      width: space(5);
      height: space(5);
    }
    
    @media (hover: hover) {
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &__content {
    flex: 1;
    min-height: 0;
  }

  &__empty {
    padding: space(4);
    border-radius: $border-radius-l;
    border: 1px dashed rgba(var(--color-text), 1);
    text-align: center;
  }

  &__note {
    --eIconColor: var(--color-text);
    display: flex;
    align-items: center;
    gap: space(1);
    padding: space(1);
    margin-bottom: space(1);
    background-color: rgba(var(--color-background), 1);
    border-radius: $border-radius-s;
  }

  &__text {
    @include body--s;
    color: rgba(var(--color-text), 1);
    margin: 0;

    @media (min-width: $breakpoint-md) {
      @include body--m;
    }
  }

  &__separator {
    @include body--l;
    text-align: center;
    color: rgba(var(--color-primary), 1);
    margin: space(4) 0;
    border-bottom: 1px solid rgba(var(--color-primary), 1);
  }
}
