@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/scrollbar.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  padding: 0 var(--grid-gutter) var(--ui-menu-height);
  border-radius: $border-radius-xl $border-radius-xl 0 0;
  background-color: rgba(var(--color-background), 1);
  transition: height 0.25s ease, padding-bottom 0.25s ease;

  &.is-dragging {
    transition: none;
  }

  @media (min-width: $breakpoint-xl) {
    position: static;
    height: 100%;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    transition: none;
  }
}

:host(.is-collapsed) {
  padding-bottom: space(1);
}

.c-swipe {
  position: relative;
  height: 100%;

  &__action {
    width: space(8);
    height: space(1);
    background-color: rgba(var(--color-text), 1);
    border: 0;
    border-radius: $border-radius-s;
    margin-bottom: space(1);
    touch-action: none;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    @media (min-width: $breakpoint-xl) {
      display: none;
    }
  }

  &__content {
    @include apple-scrollbar;
    height: calc(100% - space(2));
    overflow: auto;
    scroll-behavior: smooth;

    @media (min-width: $breakpoint-xl) {
      height: 100%;
    }
  }
}
