@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/scrollbar.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  height: 0;
  background-color: transparent;

  position: absolute;
  padding: var(--grid-gutter);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  text-align: center;
  
  @media (min-width: $breakpoint-xl) {
    position: static;
    padding: 0;
  }
}

.c-swipe {
  position: relative;
  height: 100%;
  background-color: rgba(var(--color-background), 1);

  &__action {
    width: space(8);
    height: space(1);
    background-color: rgba(var(--color-text), 1);
    border: 0;
    border-radius: $border-radius-s;
    margin-bottom: space(1);
  }

  &__content {
    @include apple-scrollbar;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
  }
}
