@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.ti-toast {
  $root: &;
  --icon-color: var(--color-text);
  position: fixed;
  top: space(4);
  right: space(4);
  z-index: 10;
  display: flex;
  align-items: center;
  opacity: 0;
  gap: space(1);
  padding: space(2) space(6) space(2) space(2);
  border-radius: $border-radius-s;
  color: rgba(var(--color-text), 1);
  background-color: rgba(var(--color-background--light), 1);
  margin-bottom: space(1);
  transform: translateX(8px);
  transition: opacity 0.2s, transform 0.2s;

  &.info {
    background: rgba(var(--color-primary), 1);

    #{$root}__info {
      display: inline-flex;
    }
  }
  
  &.success {
    background: rgba(var(--color-success), 1);

    #{$root}__success {
      display: inline-flex;
    }
  }
  
  &.error {
    background: rgba(var(--color-error), 1);

    #{$root}__error {
      display: inline-flex;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translateX(0);
  }

  &__content {
    @include body--m;
  }

  &__info,
  &__success,
  &__error {
    display: none;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: space(1);
    right: space(1);
    background: none;
    border: none;
    padding: space(1);
    cursor: pointer;
    opacity: .7;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}
