@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

:host {
  display: block;
}

.c-card-date {
  $block: &;
  display: inline-flex;
  position: relative;
  border-radius: $border-radius-xl;
  border: none;
  overflow: hidden;
  width: 100%;
  min-height: space(23);
  color: rgba(var(--color-text), 1);
  background-color: rgba(var(--color-background--secondary), 1);

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: space(8);
    color: rgba(var(--color-text--light), 1);
    background-color: rgba(var(--color-background--light), 1);

    #{$block}--today & {
      color: rgba(var(--color-text), 1);
      background-color: rgba(var(--color-primary), 1);
    }
  }
  
  ::slotted([slot="index"]) {
    @include body--s;
    flex: 0 0 auto;
    margin: 0;
  }
  
  ::slotted([slot="day"]) {
    @include body--l(600);
    margin: space(1) 0 0;
    flex: 0 0 auto;
  }
  
  ::slotted([slot="month"]) {
    @include body--s;
    flex: 0 0 auto;
    margin: space(-1.5) 0 0;
    text-transform: capitalize;
  }

  &__content {
    padding: space(1) space(2);
  }

  &__title {
    @include body--l(600);
    margin: 0 0 space(2);
  }
  
  ::slotted(ul) {
    @include body--m();
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
