@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;

.c-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  background-color: rgba(var(--color-background--secondary), 1);
  color: rgba(var(--color-text), 1);
  max-width: space(12);
  padding: space(2) space(1);
  box-sizing: border-box;

  &__list {
    display: flex;
    flex-direction: column;
    gap: space(3);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ::slotted(a) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3 ease-in-out;
  }

  ::slotted(a:hover) {
    transform: scale(1.2);
  }

  ::slotted([slot="links"]) {
    --eIconColor: var(--color-text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: space(5);
    height: space(5);
    transition: background-color 0.3s ease-in-out;
  }

  ::slotted([slot="links"]:hover) {
    background-color: rgba(var(--color-text), 0.2);
  }

  ::slotted([slot="links"].active) {
    --eIconColor: var(--color-primary);
  }

  ::slotted([slot="profile"]) {
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
  }
}
