.u-bg {
  &--dark {
    background-color: rgba(var(--color-background), 1);
  }

  &--light {
    background-color: rgba(var(--color-background--secondary), 1);
  }

  &--primary {
    background-color: rgba(var(--color-primary), 1);
  }

  &--primary-overlay {
    background-color: rgba(var(--color-primary), 0.5);
  }
}