@use '@common/styles/tools/tools.scss' as *;

.u-flex {
  display: flex;
  gap: space(1);

  &--half {
    flex: 1 0 50%;
  }

  &--align {
    &--center {
      align-items: center;
    }

    &--end {
      align-items: flex-end;
    }
  }

  &--justify {
    &--center {
      justify-content: center;
    }

    &--between {
      justify-content: space-between;
    }

    &--evenly {
      justify-content: space-evenly;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  &--gap {
    &--s {
      gap: space(1);
    }

    &--m {
      gap: space(2);
    }

    &--l {
      gap: space(3);
    }

    &--xl {
      gap: space(4);
    }
  }
}