@use '@common/styles/tools/typography.scss' as *;

.u-heading {
  &--h1 {
    @include heading--h1(600);
  }

  &--h2 {
    @include heading--h2(600);
  }

  &--h3 {
    @include heading--h3(600);
  }

  &--semibold {
    font-weight: 500;
  }

  &--bold {
    font-weight: 600;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }
}