@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/border-radius.scss' as *;

.u-link-icon {
  @include body--s;
  display: inline-block;
  min-width: space(13);
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  padding: space(1);
  border-radius: $border-radius-s;
  color: rgba(var(--color-text), 1);
  background-color: rgba(var(--color-background--secondary), 1);
  transition: transform .2s ease;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    display: block;
  }
}