@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;

.u-pin-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: space(5);
  height: space(5);
  background-color: rgba(var(--color-background), 1);
  border-radius: 50%;
  transition: transform 0.2s ease;

  &--s {
    width: space(3);
    height: space(3);

    @media (min-width: $breakpoint-md) {
      width: space(4);
      height: space(4);
    }
  }

  &--hover {
    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}