@use '@common/styles/tools/grid.scss' as *;
@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/scrollbar.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;

.u-grid-main:has(.ti-itinerary-list__dates-column.is-collapsed) .u-grid-main--sidebar c-menu {
  transform: translateY(100%);
}

.ti-itinerary-list {
  position: relative;
  height: calc(100dvh - var(--ui-c-header-image-height));

  @media (min-width: $breakpoint-xl) {
    @include grid();
    padding: var(--grid-gutter);
  }
  
  &__dates-column {
    overflow: hidden;
  }

  &__dates-column,
  &__content {
    height: 100%;
  }
}
