@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;

.ti-itinerary-list {
  height: calc(100dvh - var(--ui-c-header-height) - #{space(4)});

  @media (min-width: $breakpoint-md) {
    &__dates-column,
    &__content {
      height: 100%;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: minmax(0, 1fr) auto;
      gap: space(1);
    }

    &__map {
      grid-column: 1 / -1;
      height: 100%;
    }

    &__summary {
      grid-column: span 1;
    }
  }

  @media (min-width: $breakpoint-lg) {
    &__content {
      gap: space(2);
    }
  }
}
