@use '@common/styles/tools/grid.scss' as *;
@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/scrollbar.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;

.ti-itinerary-list {
  position: relative;
  height: calc(100dvh - var(--ui-c-header-height));

  @media (min-width: $breakpoint-xl) {
    @include grid();
    padding: var(--grid-gutter);
  }
  
  &__dates-column {
    overflow: hidden;
  }

  &__dates-column,
  &__content {
    height: 100%;
  }

  &__content {
    @media (min-width: $breakpoint-lg) {
      gap: space(2);
    }
  }
}
