@use '@common/styles/tools/tools.scss' as *;
@use '@common/styles/tools/typography.scss' as *;
@use '@common/styles/variables/breakpoints.scss' as *;

:host {
  display: block;
}

.c-header {
  // $block: &;
  position: relative;
  
  &--bg {
    min-height: space(15);
    z-index: 2;
  }
  
  &__background {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(rgba(var(--color-background), 0.1), rgba(var(--color-background), 0.8));
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: relative;
    z-index: 1;
    padding: space(2) var(--grid-gutter);
    
    @media (min-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    @include heading--h1(600);
    margin: 0;
    color: rgba(var(--color-text), 1);
  }
  
  &__separator {
    font-size: 2rem;
    line-height: 0;
    font-weight: 700;
    color: rgba(var(--color-text), 1);
  }
  
  &__subtitle {
    @include body--s();
    display: flex;
    align-items: center;
    gap: space(0.5);
    margin: 0;
    color: rgba(var(--color-text), 1);
  }

  &__menu {
    position: relative;
  }

  &__link,
  &__opener {
    --eIconColor: var(--color-text);
    background-color: rgba(var(--color-background--secondary), 1);
    width: space(4);
    height: space(4);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__sheet {
    display: none;
    position: absolute;
    top: space(5);
    right: 0;
    z-index: 1;

    &--open {
      display: block;
    }
  }
  
  &__actions {
    grid-row-start: 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: space(1);

    ::slotted(*:last-child) {
      margin-left: auto;
    }
  }
}
